---
import Layout from "../layouts/Layout.astro"
import publicClient from "../utilities/public-client"
import { isValidHandle } from "@atproto/syntax"
import { XRPCError, ResponseType } from "@atproto/xrpc"
import shortcutDemo from "../images/shortcut-demo.avif"
import Image from "astro/components/Image.astro"

const profile = Astro.url.searchParams.get("profile")

let profileName = profile as string

if (profile) {
	if (!isValidHandle(profile))
		return Astro.redirect("/", 307)

	try {
		const {
			data: { displayName }
		} = await publicClient.get(
			"app.bsky.actor.getProfile",
			{
				params: {
					actor: profile as string
				}
			}
		)

		if (displayName) profileName = displayName
	} catch (error) {
		if (
			error instanceof XRPCError &&
			error.status == ResponseType.InvalidRequest
		)
			return Astro.redirect("/", 307)
		else throw error
	}
}
---

<Layout>
	<main>
		<h1>welcome to gridded.blue!</h1>
		<p>
			gridded.blue is a gridded media viewer for <a
				href="https://bsky.social">Bluesky</a
			>.
		</p>
		<p>
			<a
				href={`/login?${Astro.url.searchParams}`}
				class="link-button"
				id="log-in"
			>
				log in
			</a>
			<br />
			{
				profile ?
					<span>
						{" "}
						to view{" "}
						{profileName +
							(profileName.endsWith("s") ? "'"
							:	"'s")}{" "}
						profile.
					</span>
				:	<a
						href={`/view?profile=bsky.app`}
						class="link-button unimportant"
					>
						view a public profile
					</a>
			}
		</p>
		<aside>
			<h2>on an Apple device?</h2>
			<p>
				You can use a <a
					href="https://support.apple.com/guide/shortcuts/welcome/ios"
					>shortcut</a
				> to open any profile from the Bluesky app in
				gridded.blue.
			</p>
			<video
				width="300"
				height="300"
				class="shortcut-demo"
				muted
				autoplay
				playsinline
				loop
			>
				<source src="/images/shortcut-demo.mp4" />
			</video>
			<p class="visually-hidden">
				From a Bluesky profile, hit <i
					>More options</i
				>, in the header. Select <i>Share via</i>
				to bring up the share sheet. From there, hit
				<i>View on gridded.blue</i>.
			</p>
			<p>
				<a
					href="https://www.icloud.com/shortcuts/fe568b1175bb48a1a2d5c5d6f981ccbf"
					class="link-button unimportant"
					>get the shortcut</a
				>
			</p>
		</aside>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		margin-block-start: clamp(1rem, 15vh, 10rem);
	}

	aside {
		margin-block-start: clamp(1rem, 30vh, 15rem);
	}
</style>
