:root {
	--text-fonts: InterVariable, sans-serif,
		"Noto Color Emoji", "Apple Color Emoji";
	font-family: var(--text-fonts);
	color-scheme: light dark;

	--accent-color: #006de2;
	--accent-color__light: #5CABFF;
	--accent-color__important: #e70a3e;
	--accent-color__unimportant: #5e6d89;
	--disabled-color: var(--accent-color__unimportant);

	accent-color: var(--accent-color);

	--image-border-width: 3px;

	--page-padding: 0.75ex;
}

body {
	overflow-x: hidden;
	background-color: canvas;
}

main {
	max-width: 90ch;
	margin: 0 auto;
	padding: 0 var(--page-padding);
}

a,
body .back-link.hydrated {
	color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {

	a,
	body .back-link.hydrated {
		color: var(--accent-color__light);
	}
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="search"] {
	background-color: canvas;
}

input[type="text"],
input[type="search"],
button,
.check-button,
.banner,
.link-button,
.feed,
details,
summary {
	border-radius: 1ex;
}

.feed {
	overflow: clip;


	li {

		&:last-of-type,
		&:nth-child(3n):nth-last-child(3),
		&:nth-child(3n):nth-last-child(2) {
			border-bottom-right-radius: 1ex;
		}

		&:first-child:last-child,
		&:nth-child(2n):last-child {
			border-top-right-radius: 1ex;
		}
	}
}

.link-button {
	text-decoration: none;
	display: inline-block;
}

input[type="text"],
input[type="search"],
button,
.check-button,
a,
.feed li,
summary {
	--focus-transition: outline 0.05s;
	transition: var(--focus-transition);

	&:focus-visible,
	&:focus-within {
		outline-offset: 2px;
		outline: solid 2px canvastext;
	}
}

input[type="text"],
input[type="search"],
button,
.check-button,
.link-button,
summary,
details[open] {
	box-sizing: border-box;

	--border-width: 2px;
	border: var(--border-width) solid var(--accent-color);

	--transition-duration: 0.1s;
	transition:
		var(--focus-transition),
		font-weight var(--transition-duration),
		background-color var(--transition-duration),
		border var(--transition-duration),
		box-shadow var(--transition-duration);
}

input[type="text"],
input[type="search"],
button,
.check-button,
.link-button,
summary {
	--padding-horizontal: 0.85rem;
	--padding-vertical: 0.85rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

input[type="text"],
input[type="search"],
button {
	width: 100%;
	margin: 8px 0;
}

label:has(input[type="checkbox"]) {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&::before {
		content: "\e835";
		font-family: "Material Symbols Rounded";
		position: relative;
		bottom: -0.225ex;
		margin-right: 0.5ch;
	}
}

label:has(input:checked) {
	&::before {
		content: "\e834";
		font-variation-settings: "FILL" 1;
	}
}

.check-button {
	display: inline-block;
	-webkit-tap-highlight-color: transparent;
}

button,
.check-button:has(:checked),
.link-button,
summary {
	background-color: var(--accent-color);
	color: white;
	font-weight: 800;
}

button:disabled {
	--accent-color: var(--disabled-color);
	font-weight: inherit;
}

button.important,
.important.check-button:has(:checked) {
	--accent-color: var(--accent-color__important);
}

.link-button.unimportant {
	background-color: transparent;
	color: canvastext;
	font-weight: inherit;
}

details {
	overflow: hidden;

	summary {
		max-width: max-content;
	}

	&[open] {
		margin: calc(-1 * var(--border-width));

		summary {
			max-width: 100%;
			border-radius: 0;
		}
	}

	p {
		margin: 1cap 1ch;
	}
}

/* img {
	background-color: var(--accent-color__unimportant);
} */

@media (hover: hover) {

	input[type="text"],
	input[type="search"],
	.check-button:not(:has(:checked)),
	.link-button.unimportant {
		&:hover {
			box-shadow: 0 0 0 var(--border-width) inset var(--accent-color);
		}
	}

	button:enabled:hover,
	.check-button:has(:checked):hover,
	.link-button:not(.unimportant):hover,
	summary:hover {
		cursor: pointer;

		--new-accent-color: color-mix(in oklch,
				var(--accent-color),
				black 20%);

		background-color: var(--new-accent-color);
		border-color: var(--new-accent-color);
	}
}

.profile-icon {
	border-radius: 50%;
	aspect-ratio: 1;
}

header {
	border-bottom: graytext 1px solid;
	display: flex;
	padding: var(--page-padding);
	align-items: center;
	margin-bottom: 1cap;

	.auth {
		display: flex;
		height: 100%;
		flex-direction: column;

		.profile-icon {
			--height: 4ex;

			height: var(--height);
			width: var(--height);
			margin-right: 1ch;
			background-color: var(--accent-color__unimportant);
		}
	}

	.log-out {
		color: canvastext;
		text-align: end;
		margin-left: auto;
		padding-left: 3ch;
		min-width: max-content;
	}
}

.query-form {
	--gap: 0.5ch;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-bottom: var(--gap);
	font-size: 120%;

	button[type="submit"] {
		transition:
			width calc(var(--transition-duration) * 1.5),
			color var(--transition-duration),
			background-color var(--transition-duration),
			font-weight var(--transition-duration),
			border-color var(--transition-duration);
		display: inline-block;
		width: auto;
		position: relative;

		&.transitioning {
			color: transparent;
			--bright: color-mix(in oklab, var(--accent-color), var(--accent-color__light) 50%);
			background-color: var(--bright);
			border-color: var(--bright);
		}
	}

	fieldset * {
		margin: 0;
	}
}

.actor-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--gap);
}

.actor-input {
	position: relative;
	display: inline-block;
	flex-grow: 1;

	&::before {
		content: "@";
		color: var(--accent-color);
		font-weight: 600;
		position: absolute;
		bottom: calc(50% - 0.5lh);
		left: 1ch;
		font-optical-sizing: none;
		pointer-events: none;
	}

	input {
		padding-left: calc(var(--padding-horizontal) + 1em + 0.25ch);

		&::-webkit-search-cancel-button {
			-webkit-appearance: searchfield-cancel-button;
		}
	}
}

label:has(#reply-toggle) {
	width: calc(50% - var(--gap) / 2);
	line-height: 1em;
}

.labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	flex-basis: auto;
	margin-top: var(--gap);

	label:has(input[type="checkbox"]) {
		flex-shrink: 0;
		flex-grow: 1;
		display: flex;

		&::before {
			bottom: -0.1ex;
		}
	}
}

.profile-info {
	--height: 10ex;

	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;

	* {
		flex: 0 1 100%;
	}

	.banner {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: bottom;
		max-height: 20vh;
		min-height: var(--height);
		background-color: var(--accent-color__unimportant);
	}

	.profile-icon {
		height: var(--height);
		width: var(--height);
		flex-basis: auto;
		/* margin-right: 100%; */
		outline: canvas var(--image-border-width) solid;
		margin-top: calc(var(--height) / -2);
		background-color: var(--accent-color__unimportant);
	}

	h1 {
		/* width: fit-content;
		flex-basis: fit-content;
		flex-grow: 1;
		margin-right: 1ch; */
		--margin: 0.5ex;
		margin-top: var(--margin);
		margin-bottom: var(--margin);
		text-overflow: ellipsis;
		overflow-x: hidden;
	}

	.link-button.bsky-link {
		color: transparent;
		width: 2em;
		flex-basis: 2em;
		box-sizing: content-box;
		overflow: hidden;
		line-height: 1;
		text-wrap: nowrap;
		height: 1em;
		position: relative;
		margin-left: auto;
		top: 0.5ch;

		&::before {
			content: "\3000";
			color: canvastext;
			background-color: canvastext;
			font-family: "Material Symbols Rounded";
			font-variation-settings: "FILL" 1;
			width: 1em;
			height: 1em;
			display: inline-block;
			clip-path: polygon(26.396% 17.55%, 26.396% 17.55%, 29.277% 19.961%, 32.157% 22.738%, 34.995% 25.794%, 37.746% 29.041%, 40.367% 32.395%, 42.814% 35.768%, 45.044% 39.073%, 47.014% 42.225%, 48.681% 45.136%, 50% 47.721%, 50% 47.721%, 51.32% 45.136%, 52.987% 42.224%, 54.958% 39.072%, 57.188% 35.766%, 59.635% 32.393%, 62.255% 29.04%, 65.006% 25.792%, 67.843% 22.737%, 70.724% 19.96%, 73.604% 17.55%, 73.604% 17.55%, 75.785% 16.014%, 78.129% 14.646%, 80.545% 13.541%, 82.939% 12.795%, 85.22% 12.502%, 87.293% 12.759%, 89.068% 13.661%, 90.45% 15.303%, 91.347% 17.782%, 91.667% 21.192%, 91.667% 21.192%, 91.625% 22.438%, 91.508% 24.487%, 91.328% 27.142%, 91.098% 30.206%, 90.83% 33.482%, 90.536% 36.774%, 90.229% 39.885%, 89.921% 42.619%, 89.623% 44.778%, 89.35% 46.167%, 89.35% 46.167%, 88.232% 49.187%, 86.696% 51.744%, 84.796% 53.859%, 82.588% 55.554%, 80.124% 56.851%, 77.461% 57.771%, 74.652% 58.336%, 71.752% 58.569%, 68.815% 58.492%, 65.896% 58.125%, 65.896% 58.125%, 70.574% 59.202%, 74.493% 60.644%, 77.645% 62.412%, 80.026% 64.465%, 81.63% 66.762%, 82.45% 69.262%, 82.481% 71.925%, 81.717% 74.71%, 80.151% 77.576%, 77.779% 80.483%, 77.779% 80.483%, 72.797% 84.829%, 68.383% 87.036%, 64.512% 87.457%, 61.16% 86.442%, 58.301% 84.345%, 55.91% 81.518%, 53.963% 78.312%, 52.434% 75.079%, 51.297% 72.171%, 50.529% 69.942%, 50.529% 69.942%, 50.427% 69.634%, 50.337% 69.364%, 50.258% 69.132%, 50.189% 68.941%, 50.132% 68.794%, 50.085% 68.692%, 50.048% 68.638%, 50.022% 68.633%, 50.006% 68.681%, 50% 68.783%, 50% 68.783%, 49.995% 68.681%, 49.979% 68.633%, 49.953% 68.638%, 49.917% 68.692%, 49.869% 68.794%, 49.811% 68.941%, 49.742% 69.132%, 49.661% 69.364%, 49.57% 69.634%, 49.467% 69.942%, 49.467% 69.942%, 48.7% 72.171%, 47.565% 75.079%, 46.036% 78.312%, 44.09% 81.518%, 41.7% 84.345%, 38.842% 86.442%, 35.49% 87.457%, 31.619% 87.036%, 27.204% 84.829%, 22.221% 80.483%, 22.221% 80.483%, 19.849% 77.576%, 18.284% 74.71%, 17.519% 71.925%, 17.55% 69.262%, 18.37% 66.762%, 19.974% 64.465%, 22.355% 62.412%, 25.508% 60.644%, 29.426% 59.202%, 34.104% 58.125%, 34.104% 58.125%, 31.185% 58.492%, 28.248% 58.569%, 25.347% 58.336%, 22.538% 57.771%, 19.875% 56.851%, 17.412% 55.554%, 15.203% 53.859%, 13.302% 51.744%, 11.765% 49.187%, 10.646% 46.167%, 10.646% 46.167%, 10.374% 44.778%, 10.077% 42.619%, 9.77% 39.885%, 9.463% 36.774%, 9.169% 33.482%, 8.901% 30.206%, 8.671% 27.142%, 8.492% 24.487%, 8.375% 22.438%, 8.333% 21.192%, 8.333% 21.192%, 8.653% 17.782%, 9.55% 15.303%, 10.932% 13.661%, 12.705% 12.759%, 14.779% 12.502%, 17.059% 12.795%, 19.453% 13.541%, 21.869% 14.646%, 24.214% 16.014%, 26.396% 17.55%);
		}

		&::after {
			content: "\3000\e89e";
			left: 1em;
			color: canvastext;
			font-family: "Material Symbols Rounded";
			font-variation-settings: "FILL" 1;
			width: 1em;
			height: 1em;
			display: inline-block;
			position: absolute;
			left: 0.9em;
		}
	}

	.bio {
		white-space-collapse: preserve;
	}
}

i.share::after {
	content: " \e80d\e6b8";
	font-style: normal;
	font-family: var(--text-fonts),
		"Material Symbols Rounded";
	font-size-adjust: cap-height 0.9;
}

.feed {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	gap: var(--image-border-width);

	li {
		aspect-ratio: 1;
		overflow: hidden;
		position: relative;
		/* transition:

			transform 0.2s,
			filter 0.2s,
			box-shadow 0.2s; */

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: white;
			text-align: center;
			align-content: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			background-color: var(--accent-color__unimportant);
		}

		&:focus-within {
			z-index: 1;
		}

		.flag {
			position: absolute;
			bottom: 0;
			right: 0;
			color: transparent;
			width: 0.0001px;
			pointer-events: none;

			&::before {
				color: white;
				position: absolute;
				bottom: 0;
				right: 0;
				font-family: "Material Symbols Rounded";
				font-variation-settings:
					"FILL" 1,
					"opsz" 10;
				text-shadow: 0 0 2px black;

				--margin: 0.2rem;
				margin-right: var(--margin);
				margin-bottom: var(--margin);
			}
		}

		&.video .flag::before {
			content: "\e1c4";
		}

		&.multiple .flag::before {
			content: "\f609";
		}
	}
}

#log-in {
	margin-top: 1cap;
}

@media (min-width: 75ch) {
	header {
		.auth {
			flex-direction: row;
			align-items: center;
		}
	}

	.actor-section {
		flex-direction: row;
	}

	.toggles {
		display: flex;

		* {
			margin-top: var(--gap);
		}
	}

	.query-form button[type="submit"] {
		width: 4em;
		overflow-x: clip;

		&.update {
			width: 5em;
		}
	}

	label:has(#reply-toggle) {
		width: auto;
		min-width: max-content;
		align-content: center;
		margin-right: var(--gap);
	}

	.labels label:has(input[type="checkbox"]) {
		flex-grow: 0;
	}

	.labels {
		display: flex;
		flex-wrap: wrap;
		flex-basis: auto;
		padding-left: var(--gap);
		border-left: canvastext 1px solid;

		label:has(input[type="checkbox"]) {
			display: flex;
			justify-content: center;
			align-content: center;

			&::before {
				bottom: -0.1ex;
			}
		}
	}
}

/* @media (pointer: fine) {
	.feed {
		&:has(li:focus-within, li:hover)
			li:not(:focus-within, :hover) {
			filter: brightness(0.75);
		}

		li {
			&:focus-within,
			&:hover {
				transform: scale(1.025);
				z-index: 1;
				box-shadow: 0 0 0 var(--image-border-width)
					canvas;
			}
		}
	}
} */