:root {
	--text-fonts: InterVariable, sans-serif,
		"Noto Color Emoji", "Apple Color Emoji";
	font-family: var(--text-fonts);
	color-scheme: light dark;

	--accent-color: #006de2;
	--accent-color__light: #5CABFF;
	--accent-color__important: #e70a3e;
	--accent-color__unimportant: #5e6d89;
	--disabled-color: #5e6d89;

	accent-color: var(--accent-color);

	--image-border-width: 3px;

	--page-padding: 0.75ex;
}

main {
	max-width: 90ch;
	margin: 0 auto;
	padding: 0 var(--page-padding);
}

a,
body .back-link.hydrated {
	color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {

	a,
	body .back-link.hydrated {
		color: var(--accent-color__light);
	}
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="search"],
button,
.check-button,
.banner,
.feed li,
.link-button,
details,
summary {
	border-radius: 1ex;
}

.link-button {
	text-decoration: none;
	display: inline-block;
}

input[type="text"],
input[type="search"],
button,
.check-button,
a,
.feed li,
summary {
	--focus-transition: outline 0.05s;
	transition: var(--focus-transition);

	&:focus-visible,
	&:focus-within {
		outline-offset: 2px;
		outline: solid 2px canvastext;
	}
}

input[type="text"],
input[type="search"],
button,
.check-button,
.link-button,
summary,
details[open] {
	box-sizing: border-box;

	--border-width: 2px;
	border: var(--border-width) solid var(--accent-color);

	--transition-duration: 0.1s;
	transition:
		var(--focus-transition),
		font-weight var(--transition-duration),
		background-color var(--transition-duration),
		border var(--transition-duration),
		box-shadow var(--transition-duration);
}

input[type="text"],
input[type="search"],
button,
.check-button,
.link-button,
summary {
	--padding-horizontal: 1ch;
	--padding-vertical: 1cap;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

input[type="text"],
input[type="search"],
button {
	width: 100%;
	margin: 8px 0;
}

label:has(input[type="checkbox"]) {
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&::before {
		content: "\e835";
		font-family: "Material Symbols Rounded";
		position: relative;
		bottom: -0.225ex;
		margin-right: 0.5ch;
	}
}

label:has(input:checked) {
	&::before {
		content: "\e834";
		font-variation-settings: "FILL" 1;
	}
}

.check-button {
	display: inline-block;
	-webkit-tap-highlight-color: transparent;
}

button,
.check-button:has(:checked),
.link-button,
summary {
	background-color: var(--accent-color);
	color: white;
	font-weight: 800;
}

button:disabled {
	--accent-color: var(--disabled-color);
	font-weight: inherit;
}

button.important,
.important.check-button:has(:checked) {
	--accent-color: var(--accent-color__important);
}

.link-button.unimportant {
	background-color: transparent;
	color: canvastext;
	font-weight: inherit;
}

details {
	overflow: hidden;

	summary {
		max-width: max-content;
	}

	&[open] {
		margin: calc(-1 * var(--border-width));

		summary {
			max-width: 100%;
			border-radius: 0;
		}
	}

	p {
		margin: 1cap 1ch;
	}
}

img {
	background-color: var(--accent-color__unimportant);
}

@media (hover: hover) {

	input[type="text"],
	input[type="search"],
	.check-button:not(:has(:checked)),
	.link-button.unimportant {
		&:hover {
			box-shadow: 0 0 0 var(--border-width) inset var(--accent-color);
		}
	}

	button:enabled:hover,
	.check-button:has(:checked):hover,
	.link-button:not(.unimportant):hover,
	summary:hover {
		cursor: pointer;

		--new-accent-color: color-mix(in oklch,
				var(--accent-color),
				black 20%);

		background-color: var(--new-accent-color);
		border-color: var(--new-accent-color);
	}
}

.profile-icon {
	border-radius: 50%;
	aspect-ratio: 1;
}

header {
	border-bottom: graytext 1px solid;
	display: flex;
	padding: var(--page-padding);
	align-items: center;
	margin-bottom: 1cap;

	.auth {
		display: flex;
		height: 100%;
		flex-direction: column;

		.profile-icon {
			--height: 4ex;

			height: var(--height);
			width: var(--height);
			margin-right: 1ch;
		}
	}

	.log-out {
		color: canvastext;
		text-align: end;
		margin-left: auto;
		padding-left: 3ch;
		min-width: max-content;
	}
}

.query-form {
	--gap: 0.5ch;

	display: flex;
	flex-direction: column;
	gap: var(--gap);
	margin-bottom: var(--gap);
	font-size: 120%;

	button[type="submit"] {
		display: inline-block;
		width: auto;
	}

	fieldset * {
		margin: 0;
	}
}

.actor-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--gap);
}

.actor-input {
	position: relative;
	display: inline-block;
	flex-grow: 1;

	&::before {
		content: "@";
		color: var(--accent-color);
		font-weight: 600;
		position: absolute;
		bottom: calc(50% - 0.5lh);
		left: 1ch;
		font-optical-sizing: none;
		pointer-events: none;
	}

	input {
		padding-left: calc(var(--padding-horizontal) + 1em + 0.25ch);

		&::-webkit-search-cancel-button {
			-webkit-appearance: searchfield-cancel-button;
		}
	}
}

label:has(#reply-toggle) {
	width: calc(50% - var(--gap) / 2);
	line-height: 1em;
}

.labels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	flex-basis: auto;
	margin-top: var(--gap);

	label:has(input[type="checkbox"]) {
		flex-shrink: 0;
		flex-grow: 1;
		display: flex;

		&::before {
			bottom: -0.1ex;
		}
	}
}

.profile-info {
	.banner {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: bottom;
		max-height: 20vh;
	}

	.profile-icon {
		--height: 10ex;

		height: var(--height);
		width: auto;
		outline: canvas var(--image-border-width) solid;
		margin-top: calc(var(--height) / -2);
	}

	.bio {
		white-space-collapse: preserve;
	}
}

i.share::after {
	content: " \e80d\e6b8";
	font-style: normal;
	font-family: var(--text-fonts),
		"Material Symbols Rounded";
	font-size-adjust: cap-height 0.9;
}

.feed {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	gap: var(--image-border-width);

	li {
		aspect-ratio: 1;
		overflow: hidden;
		position: relative;
		/* transition:

			transform 0.2s,
			filter 0.2s,
			box-shadow 0.2s; */

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				color: transparent;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:focus-within {
			z-index: 1;
		}

		.flag {
			position: absolute;
			bottom: 0;
			right: 0;
			color: transparent;
			width: 0.0001px;
			pointer-events: none;

			&::before {
				color: white;
				position: absolute;
				bottom: 0;
				right: 0;
				font-family: "Material Symbols Rounded";
				font-variation-settings:
					"FILL" 1,
					"opsz" 10;
				text-shadow: 0 0 2px black;

				--margin: 0.2rem;
				margin-right: var(--margin);
				margin-bottom: var(--margin);
			}
		}

		&.video .flag::before {
			content: "\e1c4";
		}

		&.multiple .flag::before {
			content: "\f609";
		}
	}
}

#log-in {
	margin-top: 1cap;
}

@media (min-width: 75ch) {
	header {
		.auth {
			flex-direction: row;
			align-items: center;
		}
	}

	.actor-section {
		flex-direction: row;
	}

	.toggles {
		display: flex;

		* {
			margin-top: var(--gap);
		}
	}

	label:has(#reply-toggle) {
		width: auto;
		min-width: max-content;
		align-content: center;
		margin-right: var(--gap);
	}

	.labels label:has(input[type="checkbox"]) {
		flex-grow: 0;
	}

	.labels {
		display: flex;
		flex-wrap: wrap;
		flex-basis: auto;
		padding-left: var(--gap);
		border-left: canvastext 1px solid;

		label:has(input[type="checkbox"]) {
			display: flex;
			justify-content: center;
			align-content: center;

			&::before {
				bottom: -0.1ex;
			}
		}
	}
}

/* @media (pointer: fine) {
	.feed {
		&:has(li:focus-within, li:hover)
			li:not(:focus-within, :hover) {
			filter: brightness(0.75);
		}

		li {
			&:focus-within,
			&:hover {
				transform: scale(1.025);
				z-index: 1;
				box-shadow: 0 0 0 var(--image-border-width)
					canvas;
			}
		}
	}
} */