---
import Layout from "./Layout.astro"

interface Props {
	code: number
}

const { code } = Astro.props

Astro.response.status = code
---

<Layout>
	<main>
		<h1>error {code}</h1>
		<p><slot /></p>
	</main>
</Layout>
